.header {
  background: #e8fafb;
  height: 50vh;
}
a.active {
  color: #4bc7ec !important;
  text-decoration: underline;
}
.btn-language {
  background: #0a4a7b;
}
nav {
  width: 100%;
  background-color: inherit;
}
.banner-title {
  color: #0a4a7b;
}
.banner-image-container {
  width: 80vw;
}
.btn-read-more {
  background: #1dcad3;
  outline: 1px solid #e8fafb;
  color: #ffffff;
}
.feedback-article {
  max-width: 200px;
}
.footer {
  background: #0a4a7b;
}
.logo {
  width: 10px;
}
.footer-title{
    text-decoration: underline 2px solid #4BC7EC;
    font-size: 1.2em;
    font-weight: bold;
}
.footer ul li{
    list-style: none;
}
.main {
  margin: 0;
  background-image: url(images/main-bg.jpg);
}
.container-main {
  padding-top: 21vh;
  padding-bottom: 1em;
  background: rgba(75, 199, 236, 0.7);
}
@media screen and (min-width: 600px) {
  .container-main {
    padding-top: 80vh;
  }
}
